.container {
  width: 100%;
  max-width: 1440px;
  height: 960px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}
.result-box {
  width: 288px;
  padding: 16px;
  padding-bottom: 0px;
  text-align: center;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
}
.result-box img{
  border-radius: 10px;
  margin-bottom: 24px;
}
.heading {
  font-size: 21px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  line-height: 25.5px;
  color: hsl(218, 44%, 22%);
  margin: 0px;
}
.title {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: hsl(216, 15%, 48%);
  margin: 0;
  margin-top: 16px;
  margin-bottom: 40px;
}

/* Media code  */

@media only screen and (max-width: 1440px){
  .container {
   max-width: 1400px;
    height: 910px;
  }
}
@media only screen and (max-width: 1400px){
  .container {
   max-width: 1350px;
  }
}
@media only screen and (max-width: 1350px){
  .container {
   max-width: 1300px;
  }
}
@media only screen and (max-width: 1300px){
  .container {
   max-width: 1250px;
    height: 900px;
  }
}
@media only screen and (max-width: 1250px){
  .container {
   max-width: 1200px;
  }
}
@media only screen and (max-width: 1200px){
  .container {
   max-width: 1150px;
    height: 870px;
  }
}
@media only screen and (max-width: 1150px){
  .container {
   max-width: 1100px;
  }
}
@media only screen and (max-width: 1100px){
  .container {
   max-width: 1050px;
  }
}
@media only screen and (max-width: 1050px){
  .container {
   max-width: 1000px;
    height: 840px;
  }
}
@media only screen and (max-width: 1000px){
  .container {
   max-width: 950px;
  }
}
@media only screen and (max-width: 950px){
  .container {
   max-width: 900px;
  }
}
@media only screen and (max-width: 900px){
  .container {
   max-width: 850px;
  }
}
@media only screen and (max-width: 850px){
  .container {
   max-width: 800px;
    height: 850px;
  }
}
@media only screen and (max-width: 800px){
  .container {
   max-width: 750px;
    height: 850px;
  }
}
@media only screen and (max-width: 750px){
  .container {
   max-width: 700px;
    height: 850px;
  }
}
@media only screen and (max-width: 700px){
  .container {
   max-width: 650px;
    height: 850px;
  }
}
@media only screen and (max-width: 650px){
  .container {
   max-width: 600px;
    height: 830px;
  }
}
@media only screen and (max-width: 600px){
  .container {
   max-width: 550px;
    height: 830px;
  }
}
@media only screen and (max-width: 550px){
  .container {
   max-width: 500px;
    height: 820px;
  }
}
@media only screen and (max-width: 500px){
  .container {
   max-width: 450px;
    height: 820px;
  }
}
@media only screen and (max-width: 450px){
  .container {
   max-width: 400px;
    height: 820px;
  }
}
@media only screen and (max-width: 400px){
  .container {
   max-width: 375px;
    height: 820px;
  }
}